.broadcaster-title {
  font-family: "PTSans-Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-gold;
}

.broadcaster:not(:first-of-type) .broadcaster-title:first-of-type {
  margin-top: 60px;

  @media (max-width: @mobile-width) {
    margin-top: 45px;
  }
}

.broadcaster-info-object {
  font-weight: 800;
  margin-bottom: 0;
}

.broadcaster-info-task {
  margin-top: 0;

  @media (max-width: @mobile-width) {
    padding-right: 10px;
  }

}
