.broadcaster:not(:first-of-type) .broadcaster-title:first-of-type {
  margin-top: 60px;

  @media (max-width: @mobile-width) {
    margin-top: 45px;
  }
}

.broadcaster-info-object {
  font-weight: 800;
  margin-bottom: 0;
}

.broadcaster-info-task {
  margin-top: 0;

  @media (max-width: @mobile-width) {
    padding-right: 10px;
  }

}
