.button {
  display: block;
  text-decoration: none;
  font-family: "PTSans-Narrow-Bold", "Arial", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  width: 225px;
  height: 60px;
}
