.button {
  display: block;
  text-decoration: none;
  font-family: "PTSans-Narrow-Bold", "Arial", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border-radius: 30px;
  border: none;
  outline: none;
  transition: all 0.4s ease;

  @media (max-width: @mobile-width) {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

    &:hover {
    background-color: fade(@basic-green; 70%);
    transition: all 0.4s ease;
    cursor: pointer;
  }
}

.button--up {
  position: fixed;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  opacity: 0;
  transition: all 0.4s ease;

   &:hover  {
    background-color: transparent;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  @media (max-width: @mobile-width) {
    width: 75px;
    height: 75px;
    bottom: 70px;
    right: calc(50% - 180px);
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    width: 100px;
    height: 100px;
    bottom: 100px;
    right: calc(50% - 365px);
    }

  @media (min-width: @desktop-width) {
  width: 100px;
  height: 100px;
  bottom: 100px;
  right: calc(50% - 690px);
  }


}
