.main {
  margin: 0 auto;
  font-family: "PTSans-Narrow", "Arial", sans-serif;
  color: @basic-black;

  @media (max-width: @mobile-width) {
    width: 335px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    width: 482px;
    font-size: 20px;
    line-height: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 34px;
    &--resume {
      flex-direction: row-reverse;
    }
  }
}

.main-big-title {
  font-family: "PlayfairDisplay-Black", "Arial", sans-serif;
  color: @basic-black;
  text-align: center;
  margin-top: 0;

  &--first {
    margin-top: 0;
  }

  &--wip {
    color: red;
  }

  @media (max-width: @mobile-width) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (min-width: @desktop-width) {
    font-size: 48px;
    line-height: 46px;
  }
}

.main-middle-title {
  font-family: "PTSans-Narrow", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-gold;

  &--mfti {
    @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
      padding-right: 100px;
    }
  }
}

// outside

.page__main {

  @media (max-width: @mobile-width) {
    margin-top: 40px;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    margin-top: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;
  }
}
