.paging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: @light-gold;
  border-radius: 15px;

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: @mobile-width) {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }

}

.paging__control--disabled {
  background-color: @basic-gold;
  cursor: default;

  &:hover {
    background-color: @basic-gold;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

.paging__info {
  font-family: "PTSans-Narrow-Bold";
  font-size: 34px;

  @media (max-width: @mobile-width) {
    font-size: 30px;
  }
}
