.records__filter {
  //position: absolute;
  // top: 100px;
  //left: -160px;
  margin: 0;
  //width: 1120px;
  //height: 100px;

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    top: 100px;
    left: -143px;
    margin: 0;
    width: 768px;
    //min-height: 100px;
  }

  @media (max-width: @mobile-width) {
    top: 75px;
    left: -20px;
    margin: 0;
    width: 335px;
    //height: 60px;
  }
}
