.summary {

  @media (min-width: @desktop-width) {
    width: 635px;
  }
}

.summary-item {
  @media (max-width: @mobile-width) {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    margin-top: 60px;
    margin-bottom: 120px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
    margin-bottom: 160px;
  }

}

.summary-item:first-of-type {
  @media (max-width: @mobile-width) {
    margin-top: 0;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }

}

.summary-item:last-of-type {
  @media (max-width: @mobile-width) {
    margin-bottom: 0;
  }

  @media (min-width: (@mobile-width + 1px)) and (max-width: (@desktop-width - 1px)) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }

}
